%h3 Home

%table.table
  %tr
    %th Title
    -#%th Source
    %th Summary
    %th Favorite Count
    %th Time
  - @stories.each do |i|
    %tr
      %td= i.title
      %td= i.summary
      -#%td= i.source_type
      %td= i.favorite_count
      %td= i.tweet_created_at
