$bg: #FDE13F;
$button: #F2C73F;
$greybg: #F4F5F5;
$greydetail: #C9CACC;
$greyhover: #AAACAE;
$font-stack: 'Lato', Arial, sans-serif;

a:link {color: $greydetail; text-decoration: none;}
a:visited {color: $greydetail; text-decoration: none;}
a:hover {color: $greyhover; text-decoration: none;}
a:active {color: $greydetail; text-decoration: none;}
