- @stories.each do |i|
  .story--item
    .story--title= i.title
    .story--summary= i.summary
    -#%td= i.source_type
    .story--favorite
    .story--twitter-img
      %img{:src => i.source_image_url}
    .story--date= format_newsfeed_date(i.tweet_created_at)
    -#= i.hostname
