- @stories.each do |i|
  .story--item
    .story-item--inner
      .story-item--left
        .story--twitter-img
          %img{:src => i.source_image_url}
      .story-item--middle
        .story--title
          = i.title
        .story--summary
          = i.summary
        .story--meta
          = i.tweet_created_at
          &#8226
          #{ link_to i.hostname, i.hostname, :class => 'host'}
      .story-item--right
        .story--favorite
          %p test
          %p test
